.home-container {
  height: 100%;
  display: flex;
  padding-top: 10px;
  min-width: 1080px;

  .order-book {
    flex: 0.4;
  }

  .left-section {
    flex: 1;
  }

  .left-top-section {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .best-wrapper {
    display: flex;
    flex: 1;
    gap: 20px;
    flex-wrap: wrap;
  }

  .drop-down-container {
    width: 300px;
    margin-right: 20px;
  }
  .chart-section{
    display: flex;
    flex: 1;
    justify-content: flex-start !important;
    align-items: flex-start;
  }
}

.is-dark .MuiFormControl-root {
  label {
    color: white;
  }

  .MuiSelect-select {
    color: white;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: #DCDCDC50;
  }

  svg {
    fill: white;
  }
}

.is-dark #tradingview-widget-container{
  background-color: #161A25;
}

.is-dark .recharts-default-tooltip{
  color: black;
}
.custom-tooltip{
  background-color: white;
  padding: 5px;
}
.is-dark .custom-tooltip{
  background-color: #000000;
}

