.page-container {
  padding: 0.5em 1.5em 0.5em 1.5em;
  background-color: white;
  color: black;
}

.is-dark .page-container {
  background-color: #252525;
  color: white;
}

.fade {
  color: #acacac;
}
