.detail-container {
  height: 100%;

}

.header {
  position: sticky;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  top: 0px;

  .title {
    font-size: 36px;
  }
}

.is-dark .header {
  background-color: #252525;
}
.margin-btm{
  margin-bottom: 10px;
}


.is-dark .apexcharts-title-text{
  fill: white;
}


.is-dark .apexcharts-text{
  fill: white;
}


.is-dark .apexcharts-tooltip-box{
  background-color: black;
}

