* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  --bid-bg-color: #F23645;
  --ask-bg-color: #2F9981;
  font-family: 'Open Sans';
}


.btn{
  padding: 10px;
  border-radius: 10px ;
  border: 0px;
  cursor: pointer;
}
.button-container{
display: flex;
  column-gap: 10px;
}


.loading-container{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.loading-container .loader{
  display: flex;
  justify-content: space-around;
}


